input#check-me(type='checkbox')
label.label(for='check-me')
  | Check Me!
  svg(viewBox='-9 -9 43 35.191', width='43', height='35')
    path#check-icon(d=' M 0 9 Q 8 17 8 17 Q 8 17 25 0', fill='none', stroke-width='6', stroke='rgb(0,0,0)', stroke-linecap='round')
