.meteo
  .card.horizontal
    .card-image.icon-weather
      canvas(width="120" height="120", class="icon")
    .card-stacked
      .card-content
        h3
          small
            span.weather-temp
              | temp
            span.wheater-dergee °C
        span.weather-location
          | Location
        br
        span.date
          | 1 janvier

        p.weather-description I am a very simple card. I am good at containing small bits of information.
      .card-action
        .row.weather-week
          .col.m2
            canvas.d0(width="20" height="20")
          .col.m2
            canvas.d1(width="20" height="20")
          .col.m2
            canvas.d3(width="20" height="20")
          .col.m2
            canvas.d4(width="20" height="20")
          .col.m2
            canvas.d5(width="20" height="20")
          .col.m2
            canvas.d6(width="20" height="20")
