.meteo
  .card.horizontal
    .card-image.icon-weather(style="height:100%")
      img(src='https://lorempixel.com/120/300/animals/1',style="height:100%; max-width: 120px")
    .card-stacked
      .card-content
        h3
          small
            span.weather-temp
              | temp
            span.wheater-dergee °C
        span.weather-location
          | Location

        p.weather-description I am a very simple card. I am good at containing small bits of information.
      .card-action
        a(href='#') This is a link
