// Modal Structure
#modal1.modal.modal-fixed-footer
  .modal-content
    .card-panel.grey.lighten-3
      span
        | I am a very simple card. I am good at containing small bits of information.
        | I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.

    h4
      .input-field
        input#first_name.validate.valid(placeholder='Placeholder', type='text')
        label.active(for='first_name') First Name


      //ul.collection.with-header.white.z-depth-2(style="max-width: 350px: display:none ")
          li.collection-header
            h6 labaels
          li.collection-item.pink Alvin
          li.collection-item.blue Alvin
          li.collection-item.cyan Alvin
          li.collection-item.orange Alvin


  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree
//.modal-overlay//(style='z-index: 1002; display: block; opacity: 0.5;')

