ul.tab-bar
  li.tab.wave.light(data-num='1') HOME
  li.tab.wave.dark(data-num='2') ABOUT
  li.tab.wave.dark(data-num='3') PORTFOLIO
  li.tab.wave.dark(data-num='4') SOCIAL
  li.tab.wave.dark(data-num='5') CONTACT
  .indicator
