.card-panel
  h4.card-task-title Hello <br> Aghiles
  .remain
      span.created-tasks
        | Completed
      span.competed-tasks
        | Todo
      span.competed-tasks
        | ALL
  .input-field.col.s12
    i.material-icons.prefix list
    input#icon_prefix.validate.input-add-todo(type='text')

  .task-card
    .collection.list-todos
      span.collection-item
        label.collection-el
          input(type='checkbox')
          span.textTodo Task to test0
        span.collection-el
          span.qs
            i.material-icons.todo-edit.actions edit
            span.popover.above Edit Todo
          span.qs
            i.material-icons.todo-remove.actions delete
            span.popover.above Remove Todo

      span.collection-item
        label.collection-el
          input(type='checkbox')
          span.textTodo Task to test3
        span.collection-el
          span.qs
            i.material-icons.todo-edit.actions edit
            span.popover.above Edit Todo
          span.qs
            i.material-icons.todo-remove.actions delete
            span.popover.above Remove Todo

      span.collection-item
        label.collection-el
          input(type='checkbox')
          span.textTodo Task to test
        span.collection-el
          span.qs
            i.material-icons.todo-edit.actions edit
            span.popover.above Edit Todo
          span.qs
            i.material-icons.todo-remove.actions delete
            span.popover.above Remove Todo

      span.collection-item
        label.collection-el
          input(type='checkbox')
          span.textTodo Task to test
        span.collection-el
          span.qs
            i.material-icons.todo-edit.actions edit
            span.popover.above Edit Todo
          span.qs
            i.material-icons.todo-remove.actions delete
            span.popover.above Remove Todo

      span.collection-item
        label.collection-el
          input(type='checkbox')
          span.textTodo Task to test
        span.collection-el
          span.qs
            i.material-icons.todo-edit.actions edit
            span.popover.above Edit Todo
          span.qs
            i.material-icons.todo-remove.actions delete
            span.popover.above Remove Todo

