.card-panel
  h4.card-task-title Hello <br> Aghiles
  .row.remain
    span.col.m6.created-tasks
      .number 54
      | tasks
    span.col.m6.competed-tasks
      .number 54
      | tasks
    a.triggerModal.btn-floating.halfway-fab.waves-effect.waves-light.red(href="#", data-target="modal1")
      i.material-icons add

  .row.task-card
    .col.s6
      .card
        .card-content.white-text
          span.card-title
            i.material-icons add
            |All tasks
          p
            | 12 Tasks
    .col.s6
      .card
        .card-content.white-text
          span.card-title
            i.material-icons add
            |All tasks
          p
            | 12 Tasks
    .col.s6
      .card
        .card-content.white-text
          span.card-title
            i.material-icons add
            |All tasks
          p
            | 12 Tasks
    .col.s6
      .card
        .card-content.white-text
          span.card-title
            i.material-icons add
            |All tasks
          p
            | 12 Tasks
    .col.s6
      .card
        .card-content.white-text
          span.card-title
            i.material-icons add
            |All tasks
          p
            | 12 Tasks

