$primary-color: #6b1e41 !default
@import ../../../node_modules/materialize-css/sass/materialize
@import calendar
@import "tasks"
@import "modals"
@import "tabs"

header,
main,
nav,
footer
  padding-left: 300px
.meteo
  color: #fff
  .card .card-content .card-title
    display: flex
    justify-content: space-between
  .weather-location
    flex: 1
  .weather-temp
    font-size: 50px
  .el
    display: flex
    flex-wrap: wrap
    flex-direction: column
    align-content: center
    text-align: center
  .card-content
    background: #6b1e41

