.todos{
  position: relative;
  padding: 0;
  .card-task-title{
    padding: 30px;
    background-image: url(../img/Rose-Petals.svg);
    background-size: cover;
    background-position: bottom center;
    color: #fff;
  }
  .card-panel{
    padding: 0 !important;
    overflow: visible;
    .input-field{
      margin-bottom: 0;
    }
  }
  h4{
    margin: 0;
  }
  .remain{
    background-image: url(../img/bg-remain.svg);
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    margin: 0;
    padding: 10px;
  }
  .created-tasks, .competed-tasks{
    color: #ffffff;
  }
  .collection{
    overflow: visible;
  }
  .task-card{
    clear: both;
    margin: 0;
    padding: 10px 15px;
  }
  .card{
    cursor: pointer;
    transition: all 0.3s ease;
  &:hover{
    background: #990055;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
  }
  }
  .list-todos{
    .collection-item{
      display: flex;
      justify-content: space-between;
      &:hover{
        background: #efefef;
      }
    }
    label{
      flex: 1;
      cursor: pointer;
      justify-content: center;

    }
    .collection-el{
      justify-self: center;
    }

  }
  .actions{
    cursor: pointer;
    &.todo-edit{
      color: #2196f3;
      &:hover{
        color: #2079d1
      }
    }
    &.todo-remove{
      color: #ff1744;
      &:hover{
        color: #bf1735;

      }
    }
  }
}
